DEBUG=True
SECRET_KEY=ganti-dengan-secret-key-acak
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000

# HARUS client ID tipe "Web application"
# Contoh format:
# 123456789012-abcdefg1234567hijklmnop.apps.googleusercontent.com
GOOGLE_CLIENT_ID=356258153044-volvm45uuce6auhjm77piue0h3kkkc22.apps.googleusercontent.com

# Isi SEMUA email anggota kelompok yang boleh jadi editor
TEAM_EDITOR_EMAILS=andisheriqadewina@gmail.com,syafiq.fqh@gmail.com,gilangadjiesaputra@gmail.com,rashikamaharani@gmail.com,elizabethmeilanny@gmail.com,gasbalon77@gmail.com,email_anggota_5@gmail.com
