DEBUG=True
SECRET_KEY=ganti-dengan-secret-key-sendiri
ALLOWED_HOSTS=127.0.0.1,localhost
GOOGLE_CLIENT_ID=isi-client-id-google-anda.apps.googleusercontent.com
TEAM_EDITOR_EMAILS=alya@example.com,bagas@example.com,citra@example.com,damar@example.com
